.hack-box {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.description-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

canvas {
  width: 100%;
  height: 100%;
}
